/* about us page style */
:root {

    /**
     * colors
     */
  
    --rich-black-fogra-29: hsl(225, 25%, 9%);
    --rich-black-fogra-39: hsl(170, 21%, 5%);
    --raisin-black: hsl(228, 13%, 15%);
    --eerie-black: hsl(207, 19%, 11%);
    --light-gray: hsl(0, 3%, 80%);
    --gunmetal-1: hsl(229, 15%, 21%); 
    --gunmetal-2: hsl(216, 22%, 18%);
    --gainsboro: hsl(0, 7%, 88%);
    --citrine: hsl(187, 87%, 51%);
    --xiketic: hsl(253, 21%, 13%);
    --gray-x: hsl(0, 0%, 74%);
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0%, 0%);
    --jet: hsl(0, 0%, 20%);
    /*typography  */
    --ff-poppins: 'Poppins', sans-serif;
  
    --fs-1: 36px;
    --fs-2: 32px;
    --fs-3: 30px;
    --fs-4: 24px;
    --fs-5: 20px;
    --fs-6: 18px;
    --fs-7: 16px;
    --fs-8: 15px;
    --fs-9: 14px;
    --fs-10: 13px;
    --fs-11: 12px;
    --fs-12: 11px;
  
    --fw-500: 500;
    --fw-700: 700;
    /*** transition */
    --transition-1: 0.15s ease;
    --transition-2: 0.25s ease-in;
    /*** spacing*/
    --section-padding: 100px;
}
body{
    background-color:var(--eerie-black);
    color: white;

}

.head{
    text-align: center;
    margin:30px 5px 7px 5px;
    font-size: 75px;
}

pre {
    text-align: left;
    font-size: 20px;
    padding: 0px 0px;
    font-family:var(--ff-poppins);
    margin:45px 5px 5px 15px; 
}
.one{
    margin-bottom: 20px;
}

/* contributors */
.contributors p{
    margin: 15px 15px; 
    padding: 7px 7px;
    text-align: center;
    font-size: 65px; 
}

/* connect us section*/
.contactus{
    text-align: center;
    padding:15px 15px;
    margin:10px 0 0 0;
    background-color: var(--raisin-black);
}

.contact{
    font-size: 25px;
    margin: 0%;
}

.fa-brands{
    color: white;
    margin:0 25px 0px 25px;
    font-size:50px;
}




